
 {% extends 'layout.htm' %}
 {% block container %}
 <head>
       <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <style>

 h1, h2, h3, h4, h5, h6 {
color: #100707;
font-weight:bold;

 }


.h2 {
    color:#043467
    font-size: 34px;
    text-decoration-line: underline;
 }


.table-striped tbody tr:nth-of-type(odd):hover,.table-striped tbody tr:nth-of-type(even):hover{
    background-color: #fff;
}


.table-striped tbody tr:nth-of-type(odd) {
    background-color: #C0CFF1;
}


 .table th, .table td {
    margin-top :30px;
    color: #333;
    font-size: 16px;

}
 </style>


  <div class="top-pad">
      <div class="w3-container">
            <h2>Image Records</h2>
  <table class="table table-striped">
      <thead>

        <tr>
            <th><h3>ImageName</h3></th>
            <th><h3>Date&Time</h3></th>
            <th><h3>ImageView</h3></th>
            <th><h3>ConfidenceScore</h3></th>
            <th><h3>RecordDetails</h3></th>
        </tr>
      </thead>
      <tbody>
        {%for i in range (data['Items'].__len__())%}
        <tr>
            <td>{{(data['Items'][i]['ImageName'])}}</td>
            <td>{{(data['Items'][i]['UploadTime'])}}</td>
            <td><a href="{{(data['Items'][i]['ImageLink'])}}"><center>ViewImage</center></a></td>
            <td><center>{{(data['Items'][i]['Confidence_score'])}}</center></td>
            <td>
            <a href="/app/getImage/{{(data['Items'][i]['RecId'])}}">View Record<span class="sr-only">(current)</span></a>
            </td>
        </tr>
        </tr>

      {%endfor%}
      </tbody>
    </table>
  </div>
  </div>

{% endblock %}

